@model IEnumerable<Booking.Core.Entities.GymClass>

@{
    ViewData["Title"] = "Index";
    var inAdminRole = User.IsInRole("Admin");        
}


<h1>Gym classes</h1>

<div id="createajax"></div>

@if (inAdminRole)
{
<p>  
    <a asp-action="Create" class="btn btn-outline-success" 
        data-ajax="true"
        data-ajax-method="GET"
        data-ajax-update="#createajax"
        data-ajax-mode="replace"      
        data-ajax-success="fixValidation"
        
    >Create New</a>
</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="gymClasses">
        <partial name="GymClassesPartial" />
    </tbody>
</table>




